{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

    {% block body %}
        <h1>Bienvenue {{ user.lastname }} </h1>
        <div class="container">
            <div>METTRE ICI PHOTO</div>
            <div>Nom: {{ user.firstname }}</div>
            <div>Prénom: {{ user.lastname }}</div>
            <div>Date de naissance: {{  user.dateOfBirth|date('d-m-Y')}}</div>
            <div>Email : {{ user.email }}</div>
        </div>
    {% endblock %}

