{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <form method="post">
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté(e) {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me
                                déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="text-center mb-3 my-5">Connexion à votre compte</h1>

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control my-2"
                           autocomplete="email" required autofocus>

                    <label for="inputPassword" class="mt-2">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control my-2"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="text-center my-4">
                    <button class="btn btn-lg btn-primary mt-3" type="submit">
                        Se connecter
                    </button>
                    </div>
                    <div class="text-center">
                        <div class="mb-3 d-flex align-items-center justify-content-center">
                            <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none">Mot de passe oublié</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <hr class="mx-auto" style="width: 50%">
                        </div>
                        <div class="d-flex justify-content-center">
                            <p>Pas encore de compte ?</p>
                        </div>
                        <div>
                            <a href="/register" class="primary"> <strong>Inscrivez-vous !</strong> </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock %}
