<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100
 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="h-100 d-inline-flex align-items-center text-light">
                <span>Retrouvez nous:</span>
                <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-6 text-end">
            <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                <span class="me-2 fw-semi-bold"><i class="fa fa-phone-alt me-2"></i>Contactez-nous:</span>
                <span>+33 05 56 54 58 65</span>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-xxl bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="{{ path('app_home') }}" class= "navbar-brand d-flex align-items-center">
        <img src="{{ asset('assets/images/Logo.jpg') }}" width="75" height="75" alt="Logo" class="me-4">
        <h2 class="m-0">Fromagerie de Caudéran</h2>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{ path('app_home') }}" class="nav-item nav-link">Accueil</a>
            <a href="{{ path('app_shop') }}" class="nav-item nav-link">Nos Produits</a>
            <a href="{{ path('app_history') }}" class="nav-item nav-link">Notre histoire</a>
            <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contact</a>

            <a class="navbar-nav" style="display: flex; align-items: center;">
                {% if app.user %}
                    <a class="nav-item nav-link" href="{{ path('app_profile') }}"><strong>Mon compte</strong></a>
                    <a><img src="{{ asset('assets/images/iconeutilisateur.png') }}"
                            width="35" height="35" alt="icone" class=" mx-2" style="margin-top: 19px">
                    </a>
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                    <a><img src="{{ asset('assets/images/iconeutilisateur.png') }}"
                            width="35" height="35" alt="icone" class=" mx-2" style="margin-top: 19px">
                    </a>
                    <a class="nav-item nav-link" style="margin-right: 10px" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="nav-item nav-link fc-custom-separator" style="margin-right: 10px"><strong>/</strong></a>
                    <a class="nav-item nav-link" style="margin-right: 0" href="{{ path('app_register') }}" >S'inscrire</a>
                {% endif %}
            </a>
        </div>
    </div>
</nav>
<!-- Navbar End -->

