{% extends "base.html.twig" %}

{% block title %}Détails de {{ article.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Détails de {{ article.name }} </h1>
            </div>
            <div class="col-6">
                <img src="{{ asset('assets/images/' ~ article.articlePicture) }}" alt="">
            </div>
            <div class="col-6">
                <p>Catégorie : {{ article.category.name }}</p>
                <p>Description : {{ article.description }}</p>
                <p>Prix: {{ article.price / 100}} €</p>
                {# Here is the e-commerce process with the button for order
                {% if article.stock > 0 %}
                <a href="#" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %} #}
            </div>
        </section>
    </main>
{% endblock %}